[submodule "scraping/kym-scrapper"]
	path = scraping/kym-scrapper
	url = https://github.com/meme-schievous/kym-scrapper.git
[submodule "scraping/imgflip-scraper"]
	path = scraping/imgflip-scraper
	url = https://github.com/meme-schievous/imgflip-scraper.git
